.sidebar-popover {
  position: relative;
  display: inline-block;
}

.sidebar-popover-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  top: calc(50% - 4px);
  left: calc(100% + 8px);
  transform: translate(0, -50%);
}

.sidebar-popover-content:before {
  content: "";

  position: absolute;
  left: -7px;
  top: 8px;
  z-index: -1;

  border-style: solid;
  border-width: 6px 8px 6px 0px;
  border-color: transparent #000 transparent transparent;
}

.sidebar-popover:hover .sidebar-popover-content {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
